// ==== CONFIGURATION ==== //

// Set all your configuration variables here!

// Width of the overall site as well as the left and right content columns
$width-site:    100%;
$min-width:		960px;

// Breakpoints
$break-small:   640px;
$break-large:   768px;

// A standard margin
$spacer:        30px;

// A modest palette; see `_library.scss` for the color() function
$color: (
  text: #575757,
  gold: #c69c6d,
  link: steelblue,
  link-muted: steelblue,
  header-background: #ffffff,
  body-background: #f5f5f5
);