// ==== GENERAL ==== //

html {
  font-size: 18px;
}
body {
    background: color(body-background);
    color: color(text);
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.44444;

    &.no-scroll {
        overflow: hidden;
    }
}
h1,
h2,
h3,
h4,
h5,
h6,
.header-text,
.nav-text,
header {
  font-family: 'Playfair Display SC', serif;
  font-weight: normal;
  line-height: 1.22222;
}

.label-text {
  font-family: 'Playfair Display', serif;
}

.block-header {
  font-size: 46px;
  color: #575757;
  letter-spacing: 0.025em;

  @include media-below($break-small) {
    font-size: 31px;
  }
}
span.strong {
    font-weight: bold;
}

a {
  border: 0;
  color: inherit;
  text-decoration: none;
}

p {
  color: #575757;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.08em;
}

.clear {
  clear: both;
  margin: 0;
  padding: 0;
}