// ==== HELPERS ==== //

%center {
  @include scut-center-block;
}
%clearfix {
  @include scut-clearfix;
}
%hide {
  @include scut-hide-visually;
}
%spacer-above {
  margin-top: spacer();
}
%spacer-above-2 {
  margin-top: spacer(2);
}
%spacer-above-3 {
  margin-top: spacer(3);
}
%spacer-below {
  margin-bottom: spacer();
}
%spacer-below-2 {
  margin-bottom: spacer(2);
}
%spacer-below-3 {
  margin-bottom: spacer(3);
}

.bar-logo {
    width: 29px;
    height: 15px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: spacer(1/2);

    .block {
        float: left;
        position: relative;
        width: 9px;
        background: #dadada;
    }
    .block-1 {
        height: 15px;
        margin-right: 1px;
    }
    .block-2 {
        height: 6px;
        top: 9px;
        margin-right: 1px;
    }
    .block-3 {
        height: 11px;
        top: 4px;
    }
}

.graph-logo {
    width: 28px;
    height: 10px;
    margin: 0 auto;
    margin-top: 10px;
    background: url('img/graph_icon.svg') no-repeat center;
}

.info-icon {
	display: inline-block;
	text-align: center;
	width: 18px;
	height: 18px;
	border: 1px solid #cacaca;
	margin-right: 10px;
	font-family: "Times New Roman", Arial;
	font-size: 14px;
	font-weight: bold;
	&.italic {
		color: #646464;
		font-style: italic;
	}
	&.gold {
		color: #c69c6d;
	}
}
.download-link {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.04em;
	font-family: 'Playfair Display SC', serif;
	line-height: 1.22222;
    a {
        border-bottom: 2px solid #dbc0a2;
        position: relative;
        &:after {
            content: "";
            width: 10px;
            height: 2px;
            background: #ffffff;
            position: absolute;
            bottom: -2px;
            right: 22px;
        }
        .download-icon {
            margin-left: 12px;
        }
    }
}
.download-icon {
	width: 18px;
	height: 18px;
	border: 2px solid #dbc0a2;
	display: inline-block;
	position: relative;
	top: 6px;
	&:after {
		content: "";
		width: 22px;
		height: 17px;
		position: absolute;
		top: -2px;
		left: -2px;
		background: #ffffff;
	}
    &.grey:after {
    	background: color(body-background);
    }
	.arrow {
		position: absolute;
		z-index: 1;
		bottom: 3px;
		left: 4px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 6px 5px 0 5px;
		border-color: #dbc0a2 transparent transparent transparent;
		&:after {
			content: "";
			width: 2px;
			height: 7px;
			background: #dbc0a2;
			position: absolute;
			top: -13px;
			left: -1px;
		}
	}
}

.linked-icon {
	display: block;
	width: 48px;
	height: 48px;
	margin: 0 auto;
	margin-top: spacer(3/2);
	border-radius: 50%;
	background-color: #b5b5b5;
	position: relative;
	&:after {
		content: "";
		width: 48px;
		height: 48px;
		position: absolute;
		top: -2px;
		left: 0px;
		background: url('img/icon-in.png') no-repeat center;
		background-size: 17px;
		z-index: 10;
	}
}


$cell-width: 105px;
$table-width: 1360px;
table {
	border-top: 5px solid color(gold);
	width: $table-width;
	margin: 0 auto;
	margin-top: 130px;
	table-layout: fixed;
	tbody, thead
	{
		display: block;
		width: 100%;
	}

	tr{
		border-bottom: 1px solid #cacaca;
	}

	thead th {
		min-width: $cell-width;
		max-width: $cell-width;
		vertical-align: middle;
		font-weight: bold;
		font-size: 16px;
		height: 65px;
		&:nth-child(1) {
			border-right: 1px solid #cacaca;
		}
	}
	tbody td {
		overflow: hidden;
		vertical-align: middle;
		min-width: $cell-width;
		max-width: $cell-width;
		padding-top: spacer(1/3);
		padding-bottom: spacer(1/3);
		p {
			font-size: 16px;
			font-family: "Times New Roman", Arial;
			margin-bottom: 0 !important;
			&.label-1 {
				font-style: italic;
			}
			&.label-2 {
				color: #b78c5c;
			}
		}
		&:nth-child(2n+1) {
			background: #ebebeb;
		}
		&:nth-child(1) {
			background: none;
			font-weight: bold;
			font-size: 18px;
			border-right: 1px solid #cacaca;
		}
	}

    // @include media-below($table-width+spacer(2)) {
    // 	.col-13 {
    // 		display: none;
    // 	}
    // }    
    // @include media-below($table-width + spacer(2) - $cell-width) {
    // 	.col-12 {
    // 		display: none;
    // 	}
    // }    
    // @include media-below($table-width + spacer(2) - ($cell-width*2)) {
    // 	.col-11 {
    // 		display: none;
    // 	}
    // }     
    // @include media-below($table-width + spacer(2) - ($cell-width*3)) {
    // 	.col-10 {
    // 		display: none;
    // 	}
    // }     
    // @include media-below($table-width + spacer(2) - ($cell-width*4)) {
    // 	.col-9 {
    // 		display: none;
    // 	}
    // }     
    // @include media-below($table-width + spacer(2) - ($cell-width*5)) {
    // 	.col-8 {
    // 		display: none;
    // 	}
    // }     
    // @include media-below($table-width + spacer(2) - ($cell-width*6)) {
    // 	.col-7 {
    // 		display: none;
    // 	}
    // }     
    // @include media-below($table-width + spacer(2) - ($cell-width*7)) {
    // 	.col-6 {
    // 		display: none;
    // 	}
    // }    
    // @include media-below($table-width + spacer(2) - ($cell-width*8)) {
    // 	.col-5 {
    // 		display: none;
    // 	}
    // }    
    // @include media-below($table-width + spacer(2) - ($cell-width*9)) {
    // 	.col-4 {
    // 		display: none;
    // 	}
    // }    

}