// ==== LAYOUT ==== //

header {
    min-width: $min-width;
    background: color(header-background);
    padding: 18px 0 18px 0;

    font-size: 14px;
    font-weight: bold;

    letter-spacing: 0.15em;
    transition: all 0.3s ease;
    
    width: 100%;
    z-index: 1;
    &.hidden {
        position: fixed;
        top: -100%;
    }
    &.sticky {
        margin-bottom: 115px;
        position: fixed;
        top: 0;
        z-index: 1;
    }
}

#image-header {
    height: 540px;
    width: 100%;
    position: relative;
    text-align: center;

    .image-holder {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .image-header-text {
        width: 100%;
        height: 100%;
        
        display: table;

        position: absolute;        
        top: 0;
        left: 0;

        text-align: center;
        font-size: 52px;
        color: #ffffff;
        
        .center-text {
            display: table-cell;
            vertical-align: middle;
            padding: 0 spacer(1) 0 spacer(1);
        }
    }
}

.page-block {
    width: auto;
    padding-bottom: 145px;
    padding-top: 115px;
    padding-left: spacer(1);
    padding-right: spacer(1);
    text-align: center;
    
    @include media-below($break-small) {
        padding-bottom: 70px;
        padding-top: 80px;
    }

    &.white {
        background: #ffffff;
    }
    &.dark {
         background: #e6e6e6;
         & .block-header {
             color: #737373;
         }
    }
    &.full-width {
        padding-left: 0;
        padding-right: 0;
    }
    .block-header {
        padding-bottom: 65px;
        position: relative;
        
        &.border-bottom {
            margin-bottom: 150px;
            &.gold {
                margin-bottom: 40px;
                & {
                    padding-bottom: 40px;
                }
                &.border-bottom:after { 
                    height: 2px;
                    width: 45px;
                    background: color(gold);
                    margin-left: -22px;
                }
            }
            @include media-below($break-small) {
                margin-bottom: 65px;
            }
        }
        &.border-bottom:after {
            content: "";
            height: 4px;
            width: 108px;
            background: #d1d1d1;

            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -54px;
        }
    }

    .page-nav {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.06em;
        margin-bottom: spacer(2);
        ul li {
            padding: 0 spacer(1/2) 0 spacer(1/2);
        }
        a {
            text-decoration: underline;
            padding-bottom: 5px;
        }
        
        @include media-below($break-large) {
            ul li {
                padding: 0;
                margin-bottom: spacer(1);
                width: 100%;
                &:after{
                    width: 0px;
                }
            }
        }
    }

    p {
        margin: 0 auto;
        width: 100%;
        max-width: 920px;
        margin-bottom: 80px;
    }
}




// ==== Fund Open ==== //

.fund-info-table {
    text-align: left;
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
    .table-cell {
        width: calc(50% - 10px);
        float: left;
        padding: 25px 0 25px 0;
        border-bottom: 1px solid #cacaca;
        
        &:nth-child(2n+1) {
            margin-right: 20px;
        }

        &:nth-child(1), &:nth-child(2) {
            border-top: 4px solid color(gold);
        }

        .cell-label {
            font-size: 16px;
            letter-spacing: 0.04em;
        }
        .cell-info {
            font-size: 20px;
            letter-spacing: 0.02em;
            font-weight: bold;
        }

    }

    @include media-below($break-large) {
        width: auto;
        padding: 0 20px 0 20px;
        .table-cell {
            width: 48%;
            &:nth-child(2n+1) {
                margin-right: 4%;
            }
        }
    }

    @include media-below($break-small) {
        .table-cell {
            width: 100%;
            
            &:nth-child(2) {
                border-top: none;
            }
        }
    }
}

#fund-stats {
    .header-info {
        font-size: 16px;
        letter-spacing: 0.04em;
    }

    #chartdiv {
        overflow: visible !important;
        width: auto !important;
        max-width: 1360px; 
        height: 495px;
        margin: 0 auto;
        background: #6A6A6A;
        margin-top: 75px;
        margin-bottom: 180px;
        @include media-below($break-small) {
            margin-bottom: 90px;
        }
        .amcharts-panels-div, .amChartsPanel.amcharts-stock-panel-div, .amcharts-chart-div {
            overflow: visible !important;
        }
        .amcharts-panels-div {
            margin-bottom: 50px;
        }

    }
    .amcharts-balloon-div.amcharts-balloon-div-category {
        font-size: 16px;
        position: absolute !important;
        top: 100% !important;
        margin-top: -30px;
        background: #c45d52;
        padding: 10px 15px 10px 15px;
    }
    .amcharts-balloon-div.amcharts-balloon-div-graph1 {
        font-family: 'Times New Roman' !important;
    }
    .amcharts-chart-div a {
        display:none !important;
    }

    .recent-stats {
        width: 100%;
        max-width: 1360px;
        margin: 0 auto;
        text-align: left;
        margin-top: 65px;

        .block {
            width: calc(100% - 66.6% - 34.3px);
            min-height: 114px;
            float: left;
            padding: spacer(1) 0 spacer(3/2) 0;
            margin-left: 50px;

            border-top: 5px solid color(gold);
            border-bottom: 1px solid color(gold);
            &:nth-child(1) {
                margin-left: 0;
            }

            .label {
                max-width: 260px;
                letter-spacing: 0.08em;
                line-height: 30px;
                font-size: 16px;
            }

            .value {
                margin-top: 20px;
                letter-spacing: 0.025em;
                line-height: 30px;
                font-size: 34px;
                font-weight: bold;
            }
        }

        @include media-below(910px) {
            margin-top: 25px;
            .block {
                float: none;
                width: 100%;
                margin-left: 0;
                border-bottom: none;
                border-top: 1px solid color(gold);

                &:nth-child(1) {
                    border-top: 5px solid color(gold);
                }

            }
        }
    }

    .fund-table {
        .table-holder {
            width: 100%;
            overflow-y: hidden;
            overflow-x: auto;
        }
        .table-info {
            text-align: left;
            width: 100%;
            max-width: $table-width;
            margin: 0 auto;
            margin-top: spacer(1);

            .left-side {
                float: left;
                font-size: 14px;
                letter-spacing: 0.04em;
                .strong {
                    font-size: 18px;
                }
                .holder {
                    margin-bottom: 10px;
                    position: relative;
                    .info-icon {
                        float: left;
                        position: absolute;
                        top: 50%;
                        margin-top: -9px;
                    }
                    .text-block {
                        width: auto;
                        margin-left: 35px;
                    }
                }
                @include media-below(400px) {
                    .holder {
                        margin-bottom: 20px;;
                    }
                }
            }
            .right-side {
                float: right;
                @include media-below($break-large) {
                    float: left;
                    text-align: center;
                    width: 100%;
                    margin-top: spacer(1/2);
                }
            }


        }
    }

}

#fund-assets {
    padding-bottom: 0; 
}

.assets-holder {
    text-align: left;
    width: 100%;
    background: #ffffff;
    .asset-block {
        width: 100%;
        min-height: 480px;
        display: table;
        &:nth-child(1){
            .inner-block {
                border-top: none;
                &.info {
                    border-top: none;
                }
            }
        }

        position: relative;
        &:after {
            content: "";
            width: 50%;
            height: 1px;
            background: #cacaca;
            position: absolute;
            bottom: -1px;
            right: 0;
        }
        &:before {
            content: "";
            width: 50%;
            height: 1px;
            background: #d6d6d6;
            position: absolute;
            bottom: -1px;
            left: 0;
        }
        &:nth-last-child(1):after, &:nth-last-child(1):before {
            height: 0px;
        }
        @include media-below($break-large) {
            &:after, &:before {
                height: 0px;
            }
        }
        .inner-block {
            width: 50%;
            height: 100%;
            float: left;
            overflow: auto;
            position: relative;
            display: table-row;

            &.info {
                width: calc(50% - 120px);
                padding: 70px 20px 50px 100px;
                min-height: 410px;
                overflow: inherit;
                @include media-below(1170px) {
                    width: calc(45% - 60px);
                    padding: 70px 10px 50px 50px;
                  
                }
            }

        
            .image-holder {
                position: absolute;
                overflow: hidden;
                top: 1px;
                left: 0;
                width: 100%;
                height: calc(100% - 1px);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                @include media-below($break-large) {
                    top: 0;
                }
                &.inactive {
                    opacity: .47;
                }
            }
            .status-text {
                font-size: 20px;
                color: color(gold);
                letter-spacing: 0.02em;
                font-weight: bold;
                text-transform: uppercase;
            }
            h3 {
                font-weight: bold;
                font-size: 20px;
                position: relative;
                margin-top: spacer(1/2);
                &.border-bottom {
                    margin-bottom: 50px;
                }
                &.border-bottom:after {
                    content: "";
                    width: 50px;
                    height: 2px;
                    background: #d6d6d6;
                    position: absolute;
                    bottom: -30px;
                    left: 0;
                }
                &.thick.border-bottom:after {
                    height: 3px;
                }
            }
            .info-table {
                display: table;
                .info-row {
                    display: table-row;
                    width: 100%;
                    .info-cell {
                        display: table-cell;
                        vertical-align: top;
                        position: relative;
                        font-size: 16px;
                        font-weight: 100;
                        letter-spacing: 0.04em;
                        line-height: 35px;
                        &.location {
                            text-decoration: underline;
                        }
                        &.location:before {
                            content: "";
                            box-sizing: content-box;
                            width: 13px;
                            height: 13px;
                            border: none;
                            border-radius: 170% 40% 170% 130% / 170% 40% 170% 130%;
                            background: #d7d7d7;
                            transform: rotateZ(495deg);
                            transform-origin: 0 0 0;

                            position: absolute;
                            top: 18px;
                            right: -36px;

                        }
                        &.location:after {
                            content: "";
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                            background: #fff;
                            position: absolute;
                            top: 16px;
                            right: -16px;
                            z-index: 1;
                        }
                        &:nth-child(1) {
                            width: 210px;
                            @include media-below(1170px) {
                                width: auto;
                                padding-right: 30px;
                                padding-bottom:     spacer(1/2);
                                line-height: 25px;
                            }
                        }
                    }
                }
            }
        }
        @include media-below($break-large) {
            display:   block;
            min-height:     100%;
            .inner-block {
                display:   block;
                width:     100%;
                min-height: 480px;
                float:     none;
                &.info {
                    width: auto;
                    padding: 50px 20px 0px 20px;

                    .info-table {
                        display:     block;
                        padding-bottom:     50px;
                        float: left;
                        .info-row {
                            display:     block;
                            margin-bottom: 10px;
                            float: left;
                            .info-cell {
                                display: block;
                                width:     calc(100% - 30px);
                                float:     left;
                                &:nth-child(1) { 
                                    padding-bottom:     0;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}

.page-block.text-block {
    .block-header.border-bottom {
        margin-bottom: 65px;
    }
    h3 {
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 65px;
    }

    .content {
        width: 920px;
        margin: 0 auto;
        text-align: left;

        @include media-below(980px) {
            width: auto;
        }
        p {
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 0.04em;
            margin-bottom: 0;
            margin-top: spacer(1);
        }
        a {
            color: color(gold);
            text-decoration: underline;
        }
        ul {
            margin-top: spacer(1);
            font-weight: 100;
            font-size: 16px;
            line-height: 30px;
            font-family: Helvetica, Arial;

            li {
                padding-left: 40px;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    left: 12px;
                    top: 50%;
                    width: 8px;
                    height: 8px;
                    margin-top: -4px;
                    background: #828282;
                    border-radius: 50%;
                }
            }
        }
    }
}

.download-block {
    margin-top: 100px;
    margin-bottom: 60px;
    .link-block {
        width: 100%;
        text-align: center;
        .download-link {
            display: inline;
            margin-left: spacer(1);
            &:nth-child(1) {
                margin-right: 0;
            }
        }
        
        br {
            display: none;
        }
    }
    @include media-below($break-large) {
        margin-top: 50px;
        margin-bottom: 30px;
        .link-block {
            br {
                display: block;
            }
            .download-link {
                margin-left: 0;
                line-height: 40px;
            }
        }
    }
}

#contact-block {
    padding-top: 80px;
    padding-bottom: 105px;
    figure {
        margin-bottom: spacer(1/2);
    }
    .label-text {
        font-size: 17px;
        font-weight: bold;
    }
    .header-text {
        font-size: 18px;
        padding-left: 10px;
    }
}