// ==== MENUS ==== //
nav {
    margin: 0 auto;
    ul {
        list-style: none;
        text-align: center;
        li {
            bottom: 30px; 
            padding: 0 spacer(1/2) 0 spacer(1/2);
        }

        li.logo { 
            top: 0;
            padding: 0 20px 0 25px;
            a {
                display: block;
                margin: 0 auto;
                width: 110px;
                height: 75px;
                background: url('img/logo.png') no-repeat center;
            }
            &:after {
                top: 30px;
            }
        }
    }
    
    .mobile-menu {
        display: none;
    }
    
}

nav .mobile-menu {
    font-size: 14px !important;
    margin-top: 20px;
}

.mobile-menu-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -200%;
    left: 0;
    background: #ffffff;
    z-index: 1;
    cursor: default;
    overflow: auto;
    text-align: center;
    transition: all .3s ease;
    
    .mobile-menu-holder {
        display: table;
        position: absolute;
        width: 100%;
        height: auto;
        ul {
            vertical-align:middle;
            display: table-cell;
            width: 100%;
            padding-bottom: 50px;
            li {
                font-size: 14px;
                margin-top: 40px;
            }
            li:nth-child(1) {
                margin-top: 0;
            }
        }
    }
}
.close-button {
    width: 100%;
    height: 110px;
    z-index: 1;
    cursor: pointer;

    &:after {
        content: "";
        cursor: pointer;
        background: #c69c6d;
        width: 2px;
        height: 48px;
        position: absolute;
        top: 30px;
        left: 50%;
        transform: rotate(45deg);
    }
    &:before {
        content: "";
        cursor: pointer;
        background: #c69c6d;
        width: 2px;
        height: 48px;
        position: absolute;
        top: 30px;
        left: 50%;
        transform: rotate(-45deg);
    }
}

@include media-below(980px) {
    header {
        min-width: 0;
        cursor: pointer;
        padding: 0;
        height: 57px;
        text-align: center;
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .mobile-menu-container.active {
        top: 0;
    }

    nav ul, .language {
        display: none;
    }
    nav .mobile-menu {
        display: inline-block;
    }
}


.language {
    float: right;
    position: relative;
    margin-right: 45px;
    bottom: 47px;
}

nav, .page-nav {
    text-transform: uppercase;
    font-weight: bold;
    ul {
        li {
            display: inline-block; 
            position: relative;
            &:after {
                content: "";
                background: #deddde;
                width: 1px;
                height: 20px;
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        li:nth-child(1) {
            &:after {
                width: 0px;
            }
        }
    }
}



